# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Home Assistant development environment
.storage
.cloud
.vscode
.idea

# Test coverage
.coverage
htmlcov/

#MacOS
.DS_Store